.Interface {
    position: absolute;
    background-color: rgb(37 58 65 / 39%);
    color: snow;
    width: 15%;
    left: 10%;
    bottom: 10%;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem 0;

}

.EscapeMessage {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37 58 65 / 39%);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
    width: 20%;
    font-size: x-large;

    button {
        background-color: rgb(18, 72, 153);
         color: black;
        border-radius: 2rem;
        padding: 0.5rem;
    }
}