.Interface {
    position: absolute;
    background-color: rgb(37 58 65 / 39%);
    color: snow;
    width: 15%;
    left: 10%;
    bottom: 10%;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.2rem;
}